.chat-page {
  font-family: "Nunito";
  margin: 0;
  height: 100vh;
  background-color: $primary;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .status {
    font-size: 13px;
  }
  .card {
    width: 100vw;
  }
  .contact {
    &-img {
      border-radius: 50%;
      margin-left: 20px;
      max-width: 40px;
      max-height: 40px;
    }
    &-name {
      padding: 2px 0 0 12px;
      font-size: 17px;
      font-weight: 400;
    }
  }
  .v-icon.v-icon::after {
    background-color: transparent !important;
  }

  .options {
    width: 170px;
    background-color: #2f3e44;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    box-shadow: 0 0 4px $third;
    --animate-duration: 0.3s;

    .item {
      padding: 12px 0;
    }
  }

  .newMessage-box {
    position: absolute;
    bottom: 0;
    background-color: $third;
    width: 100%;
    height: 50px;
    padding: 0 15px 15px;

    .input {
      width: 100%;
      outline: none;
      padding-top: 10px;
      line-height: 30px;
      margin-top: 12px;
    }
    .icon {
      font-size: 26px;
      padding: 25px 0 0 20px;
      color: $secondary;
    }
  }
  .main {
    height: calc(100vh - 110px) !important;
    width: 100%;
    padding: 15px;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .messages {
      .user-box {
        background-color: #f0a83cad;
        border-radius: 12px 12px 0 12px;
        padding: 10px;
        margin-bottom: 10px;
        max-width: 270px;
        display: block;

        .text {
          line-height: 17px;
        }
        .time {
          font-size: 12px;
          text-align: right;
        }
      }
      .system-box {
        background-color: #1d2b31;
        color: rgb(241, 237, 237);
        border-radius: 12px 12px 12px 0;
        padding: 10px;
        margin-bottom: 10px;
        max-width: 270px;
        display: block;

        .text {
          line-height: 17px;
        }
        .time {
          font-size: 12px;
          text-align: right;
        }
      }
    }
    .no-message {
      height: 90vh;
      .box {
        background-color: #232f3469;
        border-radius: 50px;
        color: rgb(163, 159, 159);
        padding: 3px 0;
        font-size: 15px;
      }
    }
  }
}
