.searchPage {
  font-family: "Nunito";
  margin: 0;
  height: 100vh;
  background-color: $primary;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card{
    width: 100vw;
  }
}
